<div class = "note-list-container">
    <ul id = "note-list-fuction">
        <li><a href = "#" id = "addNote" >Add Note</a></li>
        <li><a href = "#" id = "selectNote">Select</a></li>
        <li><a href = "#" id = "deleteNote" >Delete</a></li>
    </ul>
</div>
<div class = "note-display-container">
    <h1>note display</h1>
</div>