<!-- Note list container -->
    <div class = "note-list-container">
        <ul id = "note-list-fuction">
            <li><%= link_to '', new_user_note_path, class: 'icon-add-outline' -%></li>
            <li><%= link_to '', user_note_path(@user.id, @user_note), method: :delete, data: { confirm: 'Are you sure?' }, class: "icon-trash" %></li>
        </ul>
        
        <div class = "search">
            <input id = "search" name = "search" type = "text" placeholder = "Search" />
        </div>
        <div class = "note-list">
            <ul>
                <% @user.notes.reverse_each do |note| %>
                    <li>
                        <% if (note.title == @user_note.title && note.text ==  @user_note.text) %>
                            <%= link_to note.title, user_note_path(@user.id, note), :class=> "active" %>
                        <% else %>
                            <%= link_to note.title, user_note_path(@user.id, note) %>
                        <% end %> 
                    </li> 
                <% end %>
                
            </ul>
        </div>
    </div>