<div class = "note-app-container" >
    <!-- Note list container -->
    <%= render 'note_list_container' %>
    
    
    <!-- Note Display container -->
    <div class = "note-display-container">
        
        <%= render 'form' %>
        
    </div>
</div>