<div class = "note-app-container" >
    <!-- Note list container -->
    <div class = "note-list-container">
        <ul id = "note-list-fuction">
            <li><a href = "#" id = "addNote" ><span class="icon-add-outline"></span></a></li>
            <li><a href = "#" id = "deleteNote" ><span class="icon-trash"></span></a></li>
        </ul>
        
        <div class = "search">
            <input id = "search" name = "search" type = "text" placeholder = "Search" />
        </div>
        <div class = "note-list">
            <ul>
                <% @notes.reverse_each do |note| %>
                    <li>
                      <%= link_to note.title, note_path(note) %>
                    </li> 
                <% end %>
                
            </ul>
        </div>
    </div>
    
    
    <!-- Note Display container -->
    <div class = "note-display-container">
        
        <%= render 'form' %>
        
    </div>
</div>