/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= @import ‘bootstrap’; 
 */
 
 body {
    margin: 0px;
    padding: 0px;
 }
 header {
     background: #fff;
     padding: 10px;
 }
 header .header-container {
     width: 1200px;
     margin: 0px auto;
 }
 header .logo {
     float: left;
 }
 header .logo img {
     width: 80px;
     margin-left: 65px;
 }
 header .user-name {
     float: right;
     margin-top: 24px;
 }
 header .user-name a {
     color: #fff;
     background-color: #00f;
     padding: 10px;
     margin: 0px 10px;
     transition: all 0.4s ease-in-out;
 }
 header .user-name a:hover {
     background-color: yellow;
     color: #000;
 }
 header:after {
     content: "";
     display: block;
     clear: both;
 }
