// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: yellow;
}
.title {
    text-align: center;
    display: table;
    width: 100%;
    position: fixed;
    top: 37%;
}
.title a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px 20px;
    transition: all 0.6s ease-in-out;
}


.title a:hover {
    color: #fff;
    background-color: blue;
}

